@import url(font.css);


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway-Regular';
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

nav{
    background: black;
    border-bottom: 1px solid white;
}

.nav__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__navigation-mini{
    display: flex;
    align-items: center;
}

.nav__navigation-title{
    color: white;
    font-family: 'Roboto-Regular';
    margin-left: 5px;
    line-height: 19px;
}


.ul__list{
    display: flex;
    column-gap: 20px;
    padding: 20px 0;
}

.ul__list-link{
    color: white;
    font-family: 'Roboto-Regular';
    line-height: 19px;
}


.ul__menu{
    column-gap: 0;
    padding: 0;
}


.ul__link{
    padding: 22px 14px;
    display: inline-block;
    transition: 0.5s;
}

.ul__link:hover{
    background: rgba(105, 207, 23, 0.75);
}

header{
    background: url(../img/header__bg.jpg) no-repeat center/cover;
    height: 100vh;
}


h1{
    color: #69CF17;
    font-size: 72px;
    font-family: 'Raleway-Black';
    line-height: 84px;
    padding: 167px 0 18px;
}

h2{
    color: #69CF17;
    font-size: 36px;
    line-height: 17px;
}


.header__text{
    padding: 18px 0 30px;
    color: white;
    font-size: 18px;
    line-height: 24px;
}


.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__box-first{
    color: white;
    font-size: 50px;
    font-family: 'Raleway-Thin';
    background: rgba(105, 207, 23, 0.5);
    padding: 33px 76px;
}

.header__box-second{
    padding: 15px 70px;
    border-radius: 6px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    color: white;
    font-size: 18px;
}

.box{
    height: 48px;
    background: #000;
}

.menu{
    background: #292929;
}

.ul__menu{
    display: flex;
    margin-left: 21px;
    column-gap: 32px;
}

.ul__menu-list{
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.ul__menu-list::before{
    content: '';
    width: 0;
    background: white;
    height: 3px;
    position: absolute;
    transition: 0.5s;
    bottom: 0;
}


.ul__menu-list:hover::before{
    width: 100%;
}



.cards__card{
    max-width: 370px;
    border: 2px solid white;
    padding: 15px;
    border-radius: 4px;
    color: white;
    background: #0C0C0C
}

.cards__card-icon{
    position: relative;
}

.cards__card-link{
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background: rgba(105, 207, 23, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}

.cards__card-link:hover{
  opacity: 1;
}

.fal{
    color: white;
}

.cards__card-img{
    display: block;
    width: 100%;
}

.cards__card-title{
    font-family: 'Raleway-Bold';
    font-size: 19px;
    padding: 15px 0;
    line-height: 15px;
}

.cards__card-text{
    font-size: 19px;
    line-height: 25px;
}


.cards{
    background: #393636;
    padding: 15px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.block{
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    color: #69CF17;
    font-family: 'Raleway-Bold';
}


.footer{
    background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.8) 100%);
}

.footer__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 81px;
}

.footer__box-number{
    color: white;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    line-height: 24px;
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 81px;
}

.footer__list-link{
    color: white;
    font-size: 20px;
    font-family: 'Roboto-Regular';
}


.footer__text{
    color: white;
    padding: 19px 0;
    font-family: 'Roboto-Regular';
    background: #1A3406;
    text-align: center;
}

